<div class="container">
  <div class="card mt-2"
    [ngClass]="{'border-info bg-white':appTheme == 'light' || appTheme == undefined,'border-warning bg-black':appTheme == 'dark'}">
    <div class="card-header"
      [ngClass]="{'bg-info':appTheme == 'light' || appTheme == undefined,'bg-warning':appTheme == 'dark'}">
      Profile Details
    </div>
    <div class="card-body" [ngClass]="{'text-white':appTheme == 'dark'}">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Address details</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <app-profile-form></app-profile-form>        
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <app-additional></app-additional>
        </div>
      </div>
    </div>
  </div>
</div>